@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AAC4FF;
    font-family: "Neutcha", cursive;
}

.heading {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 40px;
    color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    font-family: "Neutcha", cursive;

}

.taskInput {
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    height: 70px;
    width: 100%;
    border-radius: 20px;
    color: #7D6E83;
    border-color: none;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 10px #B7C4CF;
    outline: #AAC4FF;
}

.taskInput:focus {
    box-shadow: 0 10px 10px 1000px rgba(0, 0, 0, 0.2);
    outline: #AAC4FF;

}

.list {
    display: flex;
    height: 200px;
}

.tods--div {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;


}

.goBtn {


    position: absolute;
    right: 4%;
    margin: auto;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50%;
    margin-top: 40px;
    border: none;
    background-color: #554994;
    color: white;
    box-shadow:  0 0 5px black;
}



.goBtn:active {
    transform: scale(0.4);
 transition: 0.7s;
    box-shadow: 0 0 5px black;
}

.inputForm {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inputFiledDiv {
    display: flex;
    height: 100px;
    width:100%;
    justify-content: center;
    align-items: center;
}

.div1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}


/* ------todolist------- */


.todoslist--div {

    display: flex;
    width: 90%;
    height:60px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellow;

    margin-top: 10px;
    border-radius: 10px;
}

.icons--div {
    display: flex;
    width: 15%;
    flex-direction: row;
    margin-right:7% ;
    gap:15%;
    justify-content: space-between;
    
}

.todoslist--form {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
  
 border-radius: 5px;
}

.activelist-div {
    background-color:#1980af ;
}
.tods--div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   

}
.todos-single {
    font-size: 22px;
    margin-left: 5%;
    display: flex;

}
.editInput {
    display: flex;
    background-color:rgb(196, 241, 178);
    border:none;
   outline: rgb(234, 238, 124);
    height: 40px;
    border-radius: 4px;

    
    font-size: 23px;
    margin-left: 5%;
}
@media (max-width:400px) {
    .heading {
        margin-top: 15px;
        font-size: 35px;

    }


}